
html{
    font: 18px/20px JiaLiDaYuanJF,sans-serif; //Tensentype-JiaLiDaYuanJF,
    background-color: #efb4b4;
}
body{
    margin: 0;
}
html,
body{
    height:100%;
    overflow: hidden;
}
svg{
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text{
        fill:#111111;
        font-size:30px;
    }
    #title{
        font-size: 60px;
    }
}
#地区{
    & > *{
        fill:#FFF;
        fill-rule:evenodd;
        clip-rule:evenodd;
        stroke:#000;
        stroke-width:4;
        stroke-linecap:round;
        stroke-linejoin:round;

        cursor: pointer;
        pointer-events: auto;
        &[level="5"]{fill:#FF7E7E;}
        &[level="4"]{fill:#FFB57E;}
        &[level="3"]{fill:#FFE57E;}
        &[level="2"]{fill:#A8FFBE;}
        &[level="1"]{fill:#88AEFF;}
    }
}
#地名{
    pointer-events: none;
}
#分数{
    font-size: 60px;
}
#等级{
    rect{
        &[level="5"]{fill:#FF7E7E;}
        &[level="4"]{fill:#FFB57E;}
        &[level="3"]{fill:#FFE57E;}
        &[level="2"]{fill:#A8FFBE;}
        &[level="1"]{fill:#88AEFF;}
    }
}
.level-border{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:none;
    stroke:#000000;
    stroke-width:4;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}

.set-level-box{
    display: none;
    position: absolute;
    background: #FFF;
    width: 140px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 3px 6px 0 rgba(0,0,0,.1);
    border: 4px solid #000;
    text-align: center;
    h2{
        margin: 0;
        font-weight: normal;
        font-size: 26px;
        line-height: 40px;
        cursor: default;
    }
    a{
        line-height: 24px;
        cursor: pointer;
    }
    h2,
    a{
        display: block;
        padding: 4px 10px;
        &[data-level="5"]{background:#FF7E7E;}
        &[data-level="4"]{background:#FFB57E;}
        &[data-level="3"]{background:#FFE57E;}
        &[data-level="2"]{background:#A8FFBE;}
        &[data-level="1"]{background:#88AEFF;}
    }
}